<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-6">
    <app-dona title="Grafico 1"></app-dona>
  </div>
  <div class="col-6">
    <app-dona title="Grafico 2" [labels]="labels1" [data]="data1"></app-dona>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-dona></app-dona>
  </div>
  <div class="col-6">
    <app-dona title="Grafico 4"></app-dona>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
